$main-color: rgb(14, 188, 201);
$body-color: rgb(211, 209, 209);
$font-family: Arial, Helvetica, sans-serif;

* {
	box-sizing: border-box;
}

img {
	border-radius: 50%;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

body {
	background-color: $body-color;
	font-family: $font-family;
	padding: 10px 20px;
	margin-right: -17px;
}

.main-container {
	display: flex;
}

.profile-photo {
	padding: 0 20px;
	max-height: 250px;
	max-width: 250px;
}

.profile {
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	background-color: $main-color;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 25px 5px 0;
	text-align: center;
	width: 30%;
	min-width: min-content;
}

.fullname {
	margin-bottom: 5px;
}

.profession {
	margin-top: 0;
	font-weight: 500;
	font-size: 16px;
}

p.copyright {
	font-size: 12px;
	margin-top: auto;
}

.exp-skills {
	background-color: white;
	border-radius: 25px;
	margin-left: -25px;
	padding: 30px 30px 50px;
	width: 70%;
}

table {
	width: 100%;
}

table th:first-child {
	width: 20%;
	text-align: right;
}

table th:last-child {
	vertical-align: top;
	text-align: left;
	padding-left: 40px;
}

table td:first-child {
	font-size: 14px;
	color: grey;
	text-align: right;
	vertical-align: top;
}

table td:last-child {
	padding-left: 40px;
	border-bottom: 20px solid white;
}

div.skills span {
	color: $main-color;
}

div.skills p:first-child {
	font-weight: bold;
	margin-bottom: -2px;
	margin-top: 0;
}

div.skills p:last-child {
	color: grey;
	margin-bottom: -2px;
	font-size: 12px;
	align-self: flex-end;
	margin-top: 0;
}

div.skills div {
	display: flex;
	justify-content: space-between;
}

.outer {
	margin-top: 3px;
	margin-bottom: 20px;
	border: 1px solid $main-color;
	height: 10px;
	border-radius: 15px;
	padding: 1px;
}

.inner {
	background-color: $main-color;
	height: 6px;
	border-radius: 15px;
}
